*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}

.inner{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    padding: 50px 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1200px;
    text-align: center; 
}
img{
    width: 100%;
    height: 100%;
}
ul,li{
    list-style: none;
}
.english{
    font-family: 'Roboto', sans-serif;
}
.korean{
    font-family: 'Noto Sans KR', sans-serif;
}
.hidden {
    display: none;
}


li{
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 0px 100px;
    
    
}
li span {
    text-align: center;
    color: white;
    margin-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    
}


button {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    width: 30px;
    height: 30px; 
    font-size: 30px;
    line-height: 10px;
    cursor: pointer;
}
span {
    font-size: 30px;
}

#greeting{
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}


#clock{
    font-size: 100px;
    color: white;
    margin-bottom: 30px;
}
#login-form{
    margin-bottom: 20px;
}

#login-form input[type=text]{
   padding: 5px 10px;
   text-align: center;
   outline: none;
   border: none;
   border-bottom: 2px solid white;
   background: none;
   color: white;
   font-family: 'Noto Sans KR', sans-serif;
   

}
#login-form input[type=submit]{
    padding: 5px 10px;
    background: orange;
    border: none;
    cursor: pointer;
}
#login-form input::placeholder{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#todo-form input[type=text]{
    width: 300px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    height: 30px;
    padding: 20px 0px; 
    background: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    
}
#todo-form input::placeholder{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

}

#quote{
    margin-top: 40px;
    
}

#quote span{
    font-size: 30px;
    font-weight: 100;
    color: white;
}
#weather{
    font-size:20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

